div(class='header')
  div(class='personal')
    a(href='/')
      img(class='my-avatar' src='/images/avatar.png')
    span(class='my-name') 执梦
  div(class='player-wrapper')
    include player
  div(class='page-slider')
    div(class='page-title')
      a
      a(class='tech-page-title' href='#tech') 技术专区
      a(class='life-page-title' href='#life') 生活随笔
      a(class='trip-page-title' href='#trip') 旅行日记
      a
    div(class='slide-bar')