div(class='player')
  audio
  div(class='current-song-info')
    span(class='current-song-name')
  div(class='controls')
    div(class='pre-btn', title='上一曲')
    div(class='play-pause-btn play', title='播放')
    div(class='next-btn', title='下一曲')
    