div(class='left-part')
  div(class='theme-image')
    img(src='/images/trip.png')
  div(class='article-num')
    span=total
    |(篇)
  div(class='title-page')
    include title-list
div(class='right-part')
  div(class='article-page')
    include article-list
