doctype html
html
  head
    include ../config
    meta(charset='utf-8')
    title= 'BruceTse\'s Blog'
    script(src= jsPath + 'jquery-1.9.1.min.js')
  body
    div(class='login-dialog')
      input(class='user-id')
      button(class='login') 确定
    script(src= jsPath + 'login.js')
